
models/deeplab-resnet.pth.tar
models/DEEPLAB_lr=5e-05_L2=0.0005_100_moorea_rescaled_pocillopora_dead.net
models/DEEPLAB_lr=5e-05_L2=0.0005_60_moorea_rescaled_pocillopora.net
models/dextr_corals.pth
models/Pocillopora.net
models/Porites.net
config.json
config.json
models/Pocillopora_Porite_Montipora3.net
models/Pocillopora_Porite_Montipora.net
models/DEEPLAB_lr=5e-05_L2=0.0005_100_rescaled_6classes.net
models/DEEPLAB_lr=5e-05_L2=0.0005_100_rescaled_4classes.net
